<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="" />
  </div>

  <div class="headings">
    <h2>Quotes Generator</h2>
    <a href="/api/getallquotes" class="btn">Sample quotes</a>
    <a href="/api/getRandomQuote" class="btn">Get a Random Quote</a>
    <a href="/api/addQuote" class="btn">Add a Quote</a>
  </div>
</header>

<%- include('partials/footer'); -%>
