<%- include('partials/header'); -%>


<header>
  <form action="/search" method="get" id="searchForm">
    <input
      type="text"
      name="query"
      placeholder="Search for quotes..."
      id="searchInput"
    />
    <button type="submit" class="searchButton">Search</button>
  </form>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Quotes Generator</h2>
    <a href="/api/getallquotes" class="btn">Sample quotes</a>
    <a href="/api/getRandomQuote" class="btn">Get a Random Quote</a>
  </div>
</header>


<%- include('partials/footer'); -%>