<%- include('partials/header'); -%>

<form action="/login" method="POST" id="loginForm">
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" id="email" required />
  <div class="email error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required />
  <div class="password error"></div>
  <button type="submit">login</button>
  <div id="forgot_password"><a href="/views/reset.ejs">forget password</a></div>
</form>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("#loginForm");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = "";
    passwordError.textContent = "";

    // get values
    const email = form.email.value;
    const password = form.password.value;

    try {
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        console.log("User logged in: ", data.user); // Debugging line
        location.assign("/"); // Redirects to the homepage
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
