<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes List</title>
    <link rel="stylesheet" href="/styles.css" />
    <!-- Optional: Add your CSS file -->
  </head>
  <body>
    <h1>Quotes List</h1>
    <ul>
      <% quotes.forEach(quote => { %>
      <li>
        <blockquote>
          "<%= quote.text %>"
          <footer>— <%= quote.author %></footer>
        </blockquote>
      </li>
      <% }); %>
    </ul>
    <a href="/" class="btn" style="font-weight: bold;">Back to home</a>
    
  </body>
</html>
